.Dreams {
}

.Dreams__NikolaTesla {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.Dreams__GoldStorage {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 200px;
}

.Dreams__MatrixArchitect {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 400px;
}
