.Dreams {
}

.Dreams__NikolaTesla {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.Dreams__MatrixArchitect {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 100px;
}

.Dreams__GoldStorage {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 200px;
}

.Dreams__ArtificialIntelligence1 {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 300px;
}

.Dreams__ArtificialIntelligence2 {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 400px;
}

.Dreams__TeslaCar {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 500px;
}

.Dreams__TeslaSalon {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 600px;
}

.Dreams__LivingRoom {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 700px;
}

.Dreams__BedRoom {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 800px;
}

.Dreams__Catamaran {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 900px;
}

.Dreams__CatamaranLagoon {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 1000px;
}

.Dreams__Suite1 {
  width: 100px;
  position: absolute;
  top: 60px;
  left: 0px;
}

.Dreams__Suite2 {
  width: 100px;
  position: absolute;
  top: 70px;
  left: 100px;
}

.Dreams__FreddieMercury {
  width: 100px;
  position: absolute;
  top: 70px;
  left: 200px;
}

.Dreams__RedhairGirl {
  width: 100px;
  position: absolute;
  top: 70px;
  left: 300px;
}

.Dreams__LatinaGirl {
  width: 100px;
  position: absolute;
  top: 70px;
  left: 400px;
}

.Dreams__NikolaTeslaFace {
  width: 100px;
  position: absolute;
  top: 70px;
  left: 500px;
}

.Dreams__MariaOrsic {
  width: 100px;
  position: absolute;
  top: 70px;
  left: 600px;
}

.Dreams__MyBodyGraph {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 1100px;
}

.Dreams__MiltonErikson {
  width: 100px;
  /* max-height: 70px; */
  /* object-fit: contain; */
  position: absolute;
  top: 0px;
  left: 1200px;
}

.Dreams__Osho {
  width: 100px;
  /* max-height: 70px; */
  /* object-fit: contain; */
  position: absolute;
  top: 0px;
  left: 1300px;
}

.Dreams__SteveJobs {
  width: 100px;
  position: absolute;
  top: 70px;
  left: 800px;
}

.Dreams__Neuron {
  width: 100px;
  position: absolute;
  top: 140px;
  left: 0px;
}

.Dreams__QuantumComputer {
  width: 100px;
  position: absolute;
  top: 140px;
  left: 100px;
}

.Dreams__Investment {
  width: 100px;
  position: absolute;
  top: 200px;
  left: 200px;
}
